@import "./variables/ColorVariables.scss";

.PureWhite18pxMedium {
  font-weight: 500;
  font-size: 18px;
  color: $white-color;
}

.Secondary20pxMedium {
  font-weight: 500;
  font-size: 20px;
  color: $secondary-color;
}

.PureWhite32pxMedium {
  font-weight: 500;
  font-size: 32px;
  color: $white-color;
}

.Blue-1-32pxMedium {
  font-weight: 500;
  font-size: 32px;
  color: $blue-1;
}

.Blue-1-18pxMedium {
  font-weight: 500;
  font-size: 18px;
  color: $blue-1;
}

.Red-18pxMedium {
  font-weight: 500;
  font-size: 18px;
  color: $red-color;
}
